<div class="col-lg-5 filters-section">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class='panel-title'>Summary information for <%= country.name %></h3>
    </div>
    <div class="panel-body">
      <% indicators.each do |key, value| %>
        <strong><%= key.to_s.titleize %>: </strong> <%= value %>
        <br>
      <% end %>
    </div>
  </div>
</div>
