<div class="container">
  <h1>User List</h1>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th colspan="4">Name</th>
        <th colspan="8"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td> <%= user.email %></td>
          <td>
            <%= link_to 'Edit', edit_admin_user_path(user) %> | <%= link_to 'Destroy', "users/#{user.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New User', new_admin_user_path, class: 'btn btn-primary' %>
</div>
