<li><%= link_to "Users", admin_users_path %></li>
<li><%= link_to "Invite User", new_user_invitation_path %></li>
<li><%= link_to "Focal Areas", admin_diseases_path %></li>
<li><%= link_to "Projects", admin_projects_path %></li>
<!-- <li><%#= link_to "Client Admin", countries_path %></li> -->
